if type guix &>/dev/null; then
    echo "direnv: using guix"
    eval "$(guix time-machine -C guix/channels.scm -- shell -m guix/manifest.scm --search-paths)"
elif type nix &>/dev/null; then
    echo "direnv: using nix"
    use flake nix/flake.nix
else
    echo "direnv: this project supports both guix and nix"
fi
