/* This project features colors from the Catppuccin Mocha palette,
licensed MIT (Expat). Find the home page of the project here:
<https://catppuccin.com> */

*,
*::before,
*::after {
    background-color: #1e1e2e;
    box-sizing: border-box;
    color: #cdd6f4;
}

a {
    background: none;
    color: #89b4fa;
    text-decoration: none;
}

button {
    background-color: #313244;
    border: none;
    border-radius: 24px;
}

h1 {
    font-size: 42px;
    color: #f38ba8;
    text-align: center;
}

h2, li::marker {
    color: #fab387;
}

img {
    border: 12px solid #f38ba8;
    display: block;
    height: auto;
    margin: auto;
    width: 50%;
}

img, .menu {
    border-radius: 24px;
}

li, p {
    /* Breaks words every ~80 characters, GNU style. */
    max-width: 80ch;
    margin: 10px;
}

.menu {
    border: 12px solid #fab387;
    font-size: 36px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.menu-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 36px;
}

.menu, .menu-list, .menu h2, .menu-list li {
    background-color: #313244;
}
